@use "sass:color";

$mine: #aaffa0;
$notMine: #ffa797;
$court: #f2f09b;
$trd-party: #e0ceff;

@mixin data-origin-styles($color) {
  background: $color;
  &:hover{
    background: color.adjust($color, $lightness: -10%, $space: hsl);
  }
}

[data-type="court"] {
  @include data-origin-styles($court);
}

[data-type="mine"] {
  @include data-origin-styles($mine);
}

[data-type="notMine"] {
  @include data-origin-styles($notMine);
}

[data-type="trd-party"] {
  @include data-origin-styles($trd-party);
}

