

/* RTL Support */
[dir="rtl"] {
  text-align: right;

  .text-left {
    text-align: right;
  }
  .text-right {
    text-align: left;
  }
}

button[type="button"][role="switch"] {
  direction: ltr;
}
